
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*-------------CSS DE LA PAGE-------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

body{
    background-image: url("/conges/View/img/fond.png");
    width: 1900px;

    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/

}
header {
    text-align: center;
}




footer{
    margin-top: 150px;
    margin-left: 520px;
}

    #nav {  
        padding: 0; margin-bottom: 40px;  
        text-align: center; /* centrer le texte */  
    }  
    #nav li {  
        display: inline;  
        list-style: none;  
    }  
    #nav a {  
        display:inline-block;  
        margin: 0 30px;  

    }  
    #nav {
        border: 1px solid #333;
        border-top-color: #707070;
        background-color: #5E5E5E;
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
        background: linear-gradient(bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;
        text-align: center;
        height: 36px;
        -webkit-box-shadow: 0 1px 3px #999;
        -moz-box-shadow: 0 1px 3px #999;
        box-shadow: 0 1px 3px #999;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    #nav a {
        height: 36px;
        margin:0;
        padding: 0 35px;
        line-height: 36px;
        border-left: 1px solid #555;
        border-right: 1px solid #888;
        text-decoration: none;
        color: white;
        text-shadow: -1px -1px 0 #444;
        font-family: Helvetica, Arial, Verdana, sans-serif;
        font-size: 1em;
    }
    #nav :first-child a {
        border-left: 0;
    }
    #nav :last-child a {
        border-right: 0;
    }
    #nav a:hover,
    #nav a:focus {
        background-color: #3E3E3E;
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));

    }









/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*-------------CSS DU TABLEAU-------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/


table{
/*    margin-left: 350px;*/
/*    margin-top: 50px;*/
    width: 15.625em; 
    height: 16.25em;
    position: top;
    font-size: 81.25%; 
    width: 785px;
    height: 480px;
    text-align: center;
    border-spacing: 0; /* Set this to allow rounded corners to work */
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: 1px solid rgb(20,20,20);
    border-radius: 10px 10px 0 0;
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
}

td, th{
     background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
color: white;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
    font-weight: 400;
    width: 12.5%;
    color: white;
}

td{
    /*text-shadow: 1px 1px 1px black;*/
    border-top: 1px solid rgb(20,20,20);
    border-left: 1px solid rgb(20,20,20);
    height: 100px;

}

#scroll{
    margin-top: 150px;
    margin-left: 150px;
    min-height:500px ;
    height:500px;
    min-width:800px ;
    width: 800px;
    overflow-x: auto;

}


.lateral{
    position: relative;
margin-right: 100px;
margin-top: 150px;
width: 750px;
float: right;
}


.container_ajouter{
float: left;
margin-right: 50px;

}




#button_ajouter {
    border-radius: 10px;
    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    -moz-text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    z-index: 2;
    width: 340px;
    background: #3e9cbf;
    text-align: center;
    height: 102px;
    padding: 5px;
    border-radius: 0px 0px 2px 2px;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;

}
#button_ajouter:hover {
    background: #3e9cbf;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;

    cursor: pointer;
}
#dropbox_ajouter, #button_ajouter {
    right: 30%;
    color: #eee;

}
#dropbox_ajouter .title {
    padding:5px;

}
#dropbox_ajouter {
    z-index: 1;
    background: #222222;
    width: 350px;
    display: none;
    -moz-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
}
#dropbox_ajouter .title {
    background: #414141;
    margin-bottom: 0px;
}
#dropbox_ajouter, #button_ajouter h6 {
    font-size: 1em;
    text-transform: uppercase;
}
#dropbox_ajouter .contact-form {
    margin: 10px;
}
#dropbox_ajouter textarea {
    font: 100%/120% Tahoma, Geneva, sans-serif;
    outline: none;
    border: none;
    padding: 5px;
    margin: 10px 0px;
    background: #444444;
    color: #eee;
}
#dropbox_ajouter textarea {
    height: 60px;
}
#dropbox_ajouter input[type=submit] {
    margin-bottom: 10px;
    width: 330px;
    cursor: pointer;
    color: #999;
}
#dropbox_ajouter input[type=submit]:hover {
    background: #3b3b3b;
}

.container_modifier{
    position:relative;
    float: right;

}

#button_modifier {
    
    border-radius: 10px;
    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    -moz-text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    z-index: 2;
    width: 340px;
    background: #3e9cbf;
    text-align: center;
    height: 102px;
    padding: 5px;
    border-radius: 0px 0px 2px 2px;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;

}
#button_modifier:hover {
    background: #3e9cbf;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;

    cursor: pointer;
}
#dropbox_modifier, #button_modifier {
    right: 30%;
    color: #eee;

}
#dropbox_modifier .title {
    padding:5px;

}
#dropbox_modifier {
    z-index: 1;
    background: #222222;
    width: 350px;
    display: none;
    -moz-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
}
#dropbox_modifier .title {
    background: #414141;
    margin-bottom: 0px;
}
#dropbox_modifier, #button_modifier h6 {
/*    font: 120%/140% Tahoma, Geneva, sans-serif;
*/    font-size: 1em;
text-transform: uppercase;
}
#dropbox_modifier .contact-form {
    margin: 10px;
}
#dropbox_modifier textarea {
    font: 100%/120% Tahoma, Geneva, sans-serif;
    outline: none;
    border: none;
    padding: 5px;
    margin: 10px 0px;
    background: #444444;
    color: #eee;
}
#dropbox_modifier textarea {
    height: 60px;
}
#dropbox_modifier input[type=submit] {
    margin-bottom: 10px;
    width: 330px;
    cursor: pointer;
    color: #999;
}
#dropbox_modifier input[type=submit]:hover {
    background: #3b3b3b;
}
